body{
    background-color: beige;                                                                                                                                                                                                                              

}
p{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #cacaca ;
    color: black; 
    padding: 2em;
    
}
img{
    margin: 2px;
    border: 10px;
    padding: 20px;    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;    
}